@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#logo{
    /* border: black 1px solid; */
    margin-right: 0.5rem;
}

#home-page{
    width:100%;

}


.HomeImage{
    position : "relative",
}